*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-light: #fffffe;

  --background: rgb(7, 20, 34);

  --family-normal: Nunito, sans-serif;
  --family-bold: Nunito, sans-serif;
}

:where(html) {
  block-size: 100%;
  font-family: var(--family-normal);
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :where(:focus-visible) {
    transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }

  :where(:not(:active):focus-visible) {
    transition-duration: 0.25s;
  }
}

:where(:not(:active):focus-visible) {
  outline-offset: 5px;
}

:where(body) {
  min-block-size: 100%;
  background: var(--background);
}

:where(body, button, textarea, input) {
  color: var(--text-light);
  font: 400 1rem var(--family-normal);
}

:where(h1, h2, h3, h4, h5, h6, strong, b) {
  font-weight: 600;
  font-family: var(--family-bold);
}

:where(a[href], area, button, label[for], summary, [tabindex]:not([tabindex*='-'])) {
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  border: 0;
}

button {
  border: 0;
  background: transparent;
}